{% extends 'base.html.twig' %}

{% block title %}Détails de la commande
{% endblock %}

{% block body %}
	<div class="container">
		<h3>Commande de:
			<span style="font-size : 25px; color : #00000088">{{ commande.user.firstName }}
				{{ commande.user.lastName }}</span>
		</h3><br>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">ID de la commande</th>
							<td>{{ commande.id }}</td>
						</tr>
						<tr>
							<th scope="row">Nom complet</th>
							<td>{{ commande.user.firstName }}
								{{ commande.user.lastName }}</td>
						</tr>
						<tr>
							<th scope="row">Adresse</th>
							<td>{{ commande.adresse }}</td>
						</tr>
						<tr>
							<th scope="row">Ville</th>
							<td>{{ commande.city.name }}</td>
						</tr>
						<tr>
							<th scope="row">Téléphone</th>
							<td>{{ commande.phone }}</td>
						</tr>
						<tr>
							<th scope="row">Date de création</th>
							<td>{{ commande.createdAt|date('d/m/Y H:i') }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h4>Produits commandés</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix unitaire</th>
                    <th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% set totalAmount = 0 %}
				{% for item in produitsCommandes %}
					{% set itemTotal = item.product.price %}
					<tr>
						<td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
						<td>{{ item.product.price }}</td>
					</tr>
					{% set totalAmount = totalAmount + itemTotal %}
				{% endfor %}
			</tbody>
		</table>
		<div style="display: flex; flex-direction: column; width:235vh; justify-content: end;">
			<p><span style="font-weight : 600">Total:</span>
				{{ totalAmount}}</p>
			<p><span style="font-weight : 600">frais port:</span>
				{{commande.city.shippingCost }}</p>
            <p>-------------------------</p>
            <h5>{{totalAmount +  commande.city.shippingCost}} FCFA</h5>
		</div>
		<a href="{{ path('admin_commande_list') }}" class="btn btn-secondary">Retour à la liste des commandes</a>
		<br><br><br>
	</div>
{% endblock %}
