{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de Commande
{% endblock %}

{% block body %}
	<h4>Récapitulatif de votre commande</h4><br><br>
	<div class="container" style="text-align : start; margin-left : 5rem">

		<p>
			<span style="font-weight : 600">
				{{ commande.user.firstName }}
				{{ commande.user.lastName }}</span>
			de la ville de
			{{ commande.city.name }},</p>
			<p>votre commande a été effectuer avec succès<span style="color : rgb(0, 212, 0); font-size : 18px"> &#x2714;</span></p>
            <p>Les produits commander :</p>
		<ul>
			{% for item in cartWithData %}
				<li>{{ item.product.name }}
					-
					{{ item.quantity }}
					x
					{{ item.product.price }}
					FCFA</li>
			{% endfor %}
		</ul>
		<br>
		<div style="float : right">
			<h4>Bilan d'achat :</h4><br>
			<h6>Total des produits commander:
				{{ total }}
				FCFA</h6>
			<h6>Frais de livraison:
				{{ commande.city.shippingCost }}
				FCFA</h6>
			<p>-----------------------------------------</p>
			<h6 style="font-weight : 700">Montant total à payer:
				{{ total + commande.city.shippingCost }}
				FCFA</h6>
		</div>
		<br><br><br><br><br><br><br><br>
	</div>
	<a href="{{ path('menu_Boutique') }}" class="btn btn-primary">Confirmer la commande</a>
{% endblock %}
