{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    <br>
    <h4>Liste des produits</h4>

    {% include 'layouts/_flash_message.html.twig' %}

    <button class="btn-Ajout">
        <a href="{{ path('app_product_new') }}"class="lien-Ajout">+ Ajouter</a>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    {% if product.description|length > 80 %}
                        {{ product.description|slice(0, 80) }}... <a href="{{ path('app_product_show', {'id': product.id}) }}"class="Lire_la_suite"> Lire_la_suite</a>
                    {% else %}
                        {{ product.description }}
                    {% endif %}
                </td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.stock > 0 %}
                        {{ product.stock }}
                    {% else %}
                        <span class = "error-message">Stock épuisé</span>
                    {% endif %}
                </td>
                <td class="action_P">
                    <div class="sous-action">
                        <a href="{{ path('app_product_show', {'id': product.id}) }}"class="btn-show">Afficher</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}"class="btn-edit">Modifier</a>
                    </div>
                    <a href="{{ path('app_product_stock_add', {'id': product.id}) }}"class="btn-stock">+ Ajouter le stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(products, 'layouts/pagination.html.twig') }}
    <br>
{% endblock %}
