{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}
        {% endblock %}

        {% endblock %}
{% block body %}
<body>
    <main class="boutique">
    
        <div class="tabs">
            <div class="tab active-tab" onclick="showContent('achats')">Prix et Ventes</div>
            <div class="tab" onclick="showContent('paniers')">PANIERS</div>
        </div>
    
        <div class="tab-content active-content" id="achats">
            <h4 style = " text-align : start;  margin-left : 1rem">{{ subCategory.name }}</h4>
            <br/>
            <div class="B_block">
                {% for product in products %}
                
                <div class="B_block-image">
                    <a href="{{ path('app_home_product_show',{'id':product.id}) }}" class="B_block-lien">
                        <img src="{{ asset('uploads/images/'~product.image) }}" class="B_image" alt="..."/>
                        <div class="B_sousBlock">
                            <h6 class="B_nom">{{ product.name }}</h6>
                            <span  style = "display : flex; gap : 10px">
                                <p class="B_description">{{ product.description|slice(0,20) }} ..</p>
                                | <h5 class="B_price" style = "color : rgb(180, 102, 0)">{{ product.price}} FCFA</h5>
                            </span>
                            <a href="#" class="B_lien">Ajouter au panier</a>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
            
        </div>
    
        <div class="tab-content" id="paniers">
                
        </div>
    </main>
</body>
<script>
    function showContent(tabId) {
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-content');

    tabs.forEach(tab => tab.classList.remove('active-tab'));
    tabContents.forEach(content => content.classList.remove('active-content'));

    const selectedTab = document.getElementById(tabId);
    selectedTab.classList.add('active-content');

    const correspondingTab = Array.from(tabs).find(tab => tab.getAttribute('onclick').includes(tabId));
    if (correspondingTab) {
        correspondingTab.classList.add('active-tab');
    }
}

//image defilement

// script.js
let slideIndex = 0;

function showSlides() {
    let slides = document.getElementsByClassName("slide");
    for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1;
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 5000); // Change d'image toutes les 2 secondes (2000 ms)
}

// Démarrez le diaporama lorsque la page est chargée
window.onload = function () {
    showSlides();
};

</script>
{% endblock %}
